<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replace="~{layout :: layout (~{::body},'home')}" -->
<head >
<meta name="theme-color" content="#6db33f">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <link href="/css/default.css" rel="stylesheet"/>
  <link rel="manifest" href="/manifest.json">
</head>

<body style="background-color:#595b5e">
<div id="firstTimeLogin" align="center">
<h1>Inserisci i tuoi dati</h1>
<form action="#" th:action="@{/afterFirstLogin}" th:object="${person}" method="get">
<h3>Name: <br><input type="text" th:field="*{name}" required/></h3>
<h3>Surname: <br><input type="text" th:field="*{surname}" required/></h3>
<h3>Comune: <br><input type="text" th:field="*{city}" required/></h3>
<h3>Age: <br><input type="number" th:field="*{age}" required/></h3>
<h3>Citizen:<input type="radio" th:field="*{role}" value="citizen"></h3>
<h3>Worker:<input type="radio" th:field="*{role}" value="worker"></h3>  
<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</div>
</body>

</html>