<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insert your data</title>
  
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

   
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">


    <link href="/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Complete your profile:</h2>
                    <form action="#" th:action="@{/afterFirstLogin}" th:object="${person}" method="post">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NAME" name="name" th:field="*{name}" required title="Insert your name" maxlength="50">
                        </div>
                        <div class="row row-space"></div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="SURNAME" name="surname" th:field="*{surname}" required title="Insert your surname" maxlength="50">
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="class" th:field="*{role}" required>
                                    <option disabled="disabled" selected="selected" value=null title="Select your role">Role</option>
                                    <option value="citizen" title="Citizen can not apply for tasks">Citizen</option>
                                    <option value="worker" title="Workers can apply for tasks">Worker</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="CITY" name="city" th:field="*{city}" required title="Insert your city" maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>


    <script src="/js/global.js"></script>

</body>

</html>

