<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'reports')}">
<head>
<title>Spring Boot: javabeginnerstutorial.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Report Specification</h2>
<div class="card">
  <div class="card-header" >
    <p style="display: inline-block;" th:text="${report.date}"></p>
    <p style="display: inline-block; float:right;" th:text="${'Stato: ' + report.state}"></p>
  </div>
  <form action="#" id="formCandidate" method="post">
  <div class="card-body">
  <span th:if="${report.image != ''}">
  <img th:src="${report.image}" width="573px" height="300px" style="margin-bottom:20px" alt="No image found" class="image-responsive">
   </span>
   <span th:if="${report.image == ''}">
   <img src="/resources/images/noImage.jpg" width="573px" height="300px" style="margin-bottom:20px" alt="No image found" class="image-responsive">
   </span>
   <br>
   		<input type="submit" value="Candidati" title="Premi per candidarti al task di questo Report!" class="btn btn-default" th:if="${report.state == 'in attesa di candidature'}" style="margin-left:10px; float:right"/>
   		<span th:if="${isWorkerInCharge == true and report.state != 'chiuso'}"><a class="btn btn-default" th:href="@{/closeTask/} + ${report.id}" style="margin-left:10px; float:right">Close Task</a></span>
   		<span th:if="${role == 'cityAdmin' and report.state != 'chiuso'}"><a class="btn btn-default" th:href="@{/closeTask/} + ${report.id}" style="margin-left:10px; float:right">Close Report</a></span>
   		<span th:if="${role == 'cityAdmin' and report.state != 'chiuso'}"><a class="btn btn-default" th:href="@{/solvedInternallyTask/} + ${report.id}" style="margin-left:10px; float:right">Risolto Internamente</a></span>
      	<span th:if="${report.task != null}"><a class="btn btn-default" th:href="@{/getTask/} + ${report.id}" style="float:right">See Task</a></span>
  <div id="divProva">
  </div>    	
	<div class="form-group">
		<textarea class="id" id="idReportCandidature" name="id" rows="3" cols="70" th:text="${report.id}" style="display:none">id</textarea>
	</div>
    <h2 class="card-title" th:text="${report.title}"></h2>
    
    <p class="card-text" th:text="${report.description}"></p>

<div th:each="comment,iterState : ${comments}">
	<div class="card">
  		<h5 class="card-header">Featured</h5>
  		<div class="card-body">
    		<p class="card-text" th:text="${comment.description}"></p>
  		</div>
	</div>	
</div>

  </div>
  </form>
  <div class="card-footer">
	<form class="customerForm"   method="post">
		<div class="form-group">
			<textarea  class="description" id="description" name="description" rows="3" cols="70" required></textarea>
		</div>
		<div class="form-group">
			<textarea  class="id" id="id" name="id" rows="3" cols="70" th:text="${report.id}" style="display:none">id</textarea>
		</div>
		
		
		<div class="postResultDiv" id="postResultDiv">
		</div>
		<div>
			<input type="submit" value="Comment" style="height: 25px;">
		</div>  
	</form>
	
	</div>
	
<div class="card-footer" align="right" th:text="${'Autore: ' + report.author.name + ' ' + report.author.surname}">Footer</div>
</div>

</body>
</html>