<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot: javabeginnerstutorial.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(tasks)}">
<h2>Report List</h2>
<form action="#" th:action="@{/allTask}" th:object="${task}" method="get">
<table class="glyphicon glyphicon-calendar">
<tr>
<th>Title</th>
<th>Description</th>
<th>Points</th>
<th>Experience</th>
<th>Report</th>


</tr>

<tr th:each="task : ${tasks}">
<td th:text="${task.title}"></td>
<td th:text="${task.description}"></td>
<td th:text="${task.points}"></td>
<td th:text="${task.exp}"></td>
<td th:text="${task.report}"></td>
</tr>
</table>
</form>
</div>
</body>
</html>