<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'profile')}">
<head>
<title>Spring Boot: javabeginnerstutorial.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Person List</h2>
<table class="table table-striped">
<tr>
<th>Id</th>
<th>Name</th>
<th>Surname</th>
<th>Email</th>
<th>Age</th>
<th>Role</th>
<th>Points</th>
<th>Exp</th>
<th>My Reports</th>
</tr>
<tr th:each="person : ${person}">
<td th:text="${person.id}"></td>
<td th:text="${person.name}"></td>
<td th:text="${person.surname}"></td>
<td th:text="${person.email}"></td>
<td th:text="${person.age}"></td>
<td th:text="${person.role}"></td>
<td th:text="${person.points}"></td>
<td th:text="${person.exp}"></td>
<td><a class="btn btn-default" th:href="@{/person/} + ${person.name}">Reports List</a></td>
</tr>
</table>
<a class="btn btn-default" th:href="${refer}">Back</a>
</body>
</html>