<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'create report')}" >
<head>
<title>Spring Boot: javabeginnerstutorial.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>New Report</h1>
<!-- PRIMA DI AJAX

<form action="#" th:action="@{/reportAdd}" th:object="${report}" method="post">
<p>Title: <input type="text" th:field="*{title}"/></p>
<p>Description: <input type="text" th:field="*{description}"/></p>

<div th:action="@{/reportAdd}" th:object="${author}" > 
<p>Author: <input type="text" th:field="*{name}"/></p>
<p>Author age: <input type="text" th:field="*{age}"/></p>
</div> 
<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

-->
<form action="#" id="formReport" method="post">
		Title: <br>
		<input type="text" id="titoloReport" required pattern=".*\S+.*" title="Inserisci il titolo"/> <br>
		Author: <br>
		<input type="text" id="autoreReport" title="Inserisci l'autore"/> <br>
		Image Direct URL: <font color="grey">(Carica la tua immagine </font><a th:href="@{http://it.tinypic.com}">QUI</a><font color="grey">)</font><br>
		<input type="text" id="immagineReport" title="Lasciare vuoto se non si desidera inserire alcuna immagine!"/><br>
		Description: <br>
		<textarea id="descrizioneReport" required="required" name="description" rows="3" cols="70" title="Inserisci la descrizione">Write...</textarea><br>
		<input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
	<div class="postResultDiv" id="resultDiv"></div>
</form>

</body>
</html>