<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'reports')}">
<head>
<title>Spring Boot: javabeginnerstutorial.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:switch="${#lists.size(reports)}">
<span th:case="'0'"><div class="alert alert-danger" role="alert">
  NO REPORTS AVAILABLE!
</div></span>
<div th:case="*">
<h2>Report List</h2>

<table class="table table-striped">
<tr>
<th>ID Report</th>
<th>Title</th>
<th>Description</th>
<th>Author</th>
<th>Task Title</th>
<th>Task Available</th>

</tr>

<tr th:each="report : ${reports}">
<td th:text="${report.id}"></td>
<td th:text="${report.title}"></td>
<td th:text="${report.description}"></td>
<td th:text="${report.author}"></td>
<td th:text="${report.task}"></td>
<td><span th:if="${report.task == null}"><a class="btn btn-default" th:href="@{/newTaskPage/} + ${report.id}">Create New Task</a></span></td>
</tr>
</table>
<a class="btn btn-default" th:href="@{/report}">Back</a>
</div>
</div>
</body>
</html>